- name: Freerdp
  tags: freerdp
  become: true
  ansible.builtin.apt:
    name: freerdp2-x11

- name: Smbclient
  tags: smbclient
  become: true
  ansible.builtin.apt:
    name: smbclient

- name: SmbMap
  tags: smbmap
  ansible.builtin.shell: pipx install git+https://github.com/ShawnDEvans/smbmap

- name: Ftp
  tags: ftp
  become: true
  ansible.builtin.apt:
    name: ftp

# https://github.com/Hackplayers/evil-winrm
- name: EvilWinrm requirements
  tags: evilwinrm
  become: true
  ansible.builtin.apt:
    name:
      - ruby
      - ruby-dev

- name: Install EvilWinrm
  tags: evilwinrm
  become: true
  ansible.builtin.shell: gem install evil-winrm

- name: NetExec
  tags: netexec
  ansible.builtin.shell: pipx install git+https://github.com/Pennyw0rth/NetExec

- name: Impacket
  tags: impacket
  ansible.builtin.shell: pipx install git+https://github.com/fortra/impacket

# https://github.com/BloodHoundAD/BloodHound
- name: BloodHound
  tags: bloodhound
  uri:
    url: https://api.github.com/repos/BloodHoundAD/BloodHound/releases/latest
    return_content: true
  register: bloodhound_latest

- name: Install BloodHound
  tags: bloodhound
  loop: "{{ bloodhound_latest.json.assets }}"
  when: "'linux-x64.zip' in item.name"
  unarchive:
    remote_src: yes
    src: "{{ item.browser_download_url }}"
    dest: "{{ ansible_env.HOME }}/.local/"
    keep_newer: yes

- name: Rename BloodHound directory
  tags: bloodhound
  ansible.builtin.shell: |
    mv {{ ansible_env.HOME }}/.local/BloodHound* {{ ansible_env.HOME }}/.local/bloodhound

- name: Create launcher
  tags: bloodhound
  become: true
  copy:
    dest: "/usr/local/bin/bloodhound"
    content: |
      #!/bin/sh
      $HOME/.local/bloodhound/BloodHound --in-process-gpu  
    mode: 0755