- name: Nmap
  tags: nmap
  become: true
  ansible.builtin.apt:
    name: nmap

# https://github.com/darkoperator/dnsrecon/
- name: Dnsrecon
  tags: dnsrecon
  ansible.builtin.shell: pipx install dnsrecon

# https://github.com/ffuf/ffuf
- name: Find latest ffuf
  tags: ffuf
  uri:
    url: https://api.github.com/repos/ffuf/ffuf/releases/latest
    return_content: true
  register: fuff_latest

- name: Install ffuf
  tags: ffuf
  loop: "{{ fuff_latest.json.assets }}"
  when: "'linux_amd64.tar.gz' in item.name"
  unarchive:
    remote_src: yes
    src: "{{ item.browser_download_url }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/"
    keep_newer: yes
    include: ffuf

# https://github.com/OJ/gobuster
- name: Find latest gobuster
  tags: gobuster
  uri:
    url: https://api.github.com/repos/OJ/gobuster/releases/latest
    return_content: true
  register: gobuster_latest

- name: Install gobuster
  tags: gobuster
  loop: "{{ gobuster_latest.json.assets }}"
  when: "'Linux_x86_64.tar.gz' in item.name"
  unarchive:
    remote_src: yes
    src: "{{ item.browser_download_url }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/"
    keep_newer: yes
    include: gobuster

# https://github.com/projectdiscovery/httpx
- name: Find latest httpx
  tags: httpx
  uri:
    url: https://api.github.com/repos/projectdiscovery/httpx/releases/latest
    return_content: true
  register: httpx_latest

- name: Install httpx
  tags: httpx
  loop: "{{ httpx_latest.json.assets }}"
  when: "'linux_amd64.zip' in item.name"
  unarchive:
    remote_src: yes
    src: "{{ item.browser_download_url }}"
    dest: "{{ ansible_env.HOME }}/.local/bin/"
    keep_newer: yes

- name: Remove httpx readme and license
  tags: httpx
  become: true
  ansible.builtin.shell: rm -rf {{ ansible_env.HOME }}/.local/bin/*.md

- name: Remove /bin/httpx
  tags: httpx
  become: true
  ansible.builtin.shell: rm -rf /bin/httpx